# Define o ambiente (dev,prod,testing)
APP_ENV=dev

### Currency API
CURRENCY_API_URL=https://api.currencyfreaks.com/
CURRENCY_API_APP=e5f808fdf9e14f1fa2bfdd129feedb4d
###

### Banco de dados
DB_CONNECTION=sqlite
DB_DATABASE=database/hurb-challenge.db
###
